@charset "utf-8";
/* CSS Document */
@media (min-width: 1200px) {}
@media (max-width: 1240px){
	.sjm-navbar-collapse .sjm-collapse{position:relative;left:8%;margin-left:-3%}
}
@media (max-width: 1200px){
	.sjm-navbar-collapse .sjm-collapse{position:relative;left:0;margin-left:0}
	.sjm-collapse > li > a{font-size:14px;}
	.quiz-list li span{font-size:11px}
		.list-theme{text-align:left
	
}

@media (min-width: 979px + 1) {
	.sjm-navbar-collapse .sjm-nav-con{position:relative;left:0;margin-left:0}
	.partner-pic li{width:33.333%}
	.sjm-collapse > li > a{font-size:14px;}
	.vLink{background-size:60%;background: url(../img/video_play_icon.png) no-repeat scroll;margin:5% auto 0}
}

}
@media (max-width: 979px) {.partner-pic li{width:33.333%}}

@media (min-width: 768px) and (max-width: 979px) {
	.partner-pic li{width:33.333%}
	.pd-15{padding-left:15px}
	.learning-tg h4{font-size:16px}
	.list-table li.list-td1{width:50%}
	.list-table li.list-td2{width:50%}
	.list-table li.list-td3{width:50%}
	.list-table li.list-td4{width:50%}
}

@media (max-width: 767px) {
	.partner-pic li{width:33.333%}
	.navbar-toggle{margin-top:20px}
	.list-table li.list-td1{width:50%}
	.list-table li.list-td2{width:50%}
	.list-table li.list-td3{width:50%}
	.list-table li.list-td4{width:50%}
	.pd-15{padding-left:15px}
	.learning-pic{padding-top:15%}
}
@media (max-width: 480px) {
	.partner-pic li{width:50%}
	.list-table li.list-td1{width:50%}
	.list-table li.list-td2{width:50%}
	.list-table li.list-td3{width:50%}
	.list-table li.list-td4{width:50%}
	.fx-icon{padding-top:15px;padding-left:0}
	.course-time {padding-right: 10px;}
	.state-img {margin-right: 10px;}
	.sjm-navbar-collapse{border-top:1px solid #e5e5e5;margin:10px 0}
	.sjm-navbar-collapse .sjm-collapse{padding-top:0}
	.sjm-collapse{margin:0}
	.learning-tg h4{font-size:18px}
	.sjm-tit{font-size:26px;}
	.learning-step-pic img{width:80%}
}
@media (max-width: 321px){
	.partner-pic li{width:50%}
	.list-table li.list-td1{width:100%}
	.list-table li.list-td2{width:100%}
	.list-table li.list-td3{width:100%}
	.list-table li.list-td4{width:100%}
	.sjm-logo{padding:5px 0}
	
	} 












