

.maincontent h2, .maincontent h3 {
    margin: 30px 0;
    font-weight: 300;
    font-size: 24.5px;
    line-height: 40px;
}

.maincontent dl {
    margin-bottom: 20px;
}

.maincontent dt {
    font-weight: 700;
}

.maincontent dd, .maincontent dt, .maincontent li {
    line-height: 20px;
}

.maincontent dd {
    margin-left: 10px;
}

.sign h1 {
    margin: 30px 0;
    line-height: 40px;
}


.course-ul li p a {
    color: #333;
    padding-left: 15px;
    border-left: 1px solid #f8f8f8;
}

.course-list a:link {
    text-decoration: none
}
.course-list a:hover {
    color: #178ece;
    border-left: 1px solid #178ece;
    text-decoration: none;
}

.course-list a.active {
    border-left: 1px solid #178ece;
    color: #178ece;
}



.course-tit {
    height: 44px;
    line-height: 44px;
    font-size: 16px;
    font-weight: bold;
    opacity: 0.5;
}

body {
    font-size: 14px;
}

#cus_ser{width:32px; height:180px; top:200px; position:fixed; right:0px; color:#FFF; z-index:9999; overflow:hidden; }
.cus_ser_{width:165px; height:150px; background:#1463da;border-bottom-left-radius:4px;  border-top-left-radius:4px;overflow:hidden;}
#cus_ser .title{ width:32px; height:112px; float:left; background:url(../img/zxzx.jpg); cursor:pointer;}
#cus_ser  ul{ padding:10px 0px 0px 2px; font-size:12px;line-height:30px; width:130px; float:left;}
#cus_ser  ul li#zqq{ height:30px;  display:block;  padding-left:24px; background:url(../img/zqq.png) no-repeat 2px 7px;}
#cus_ser  ul li#zphone{ height:30px; display:block; padding-left:24px; background:url(../img/zphone.png) no-repeat 2px 8px;}
#cus_ser  ul li#wb{ height:30px; display:block;padding-left:26px; background:url(../img/wb.png) no-repeat 2px 8px; }
#cus_ser  ul li a{ color:#FFF;}
#cus_ser  ul li a:hover{ text-decoration:underline;}
#cus_ser .close{ display:inline-block; width:16px; height:16px; overflow:hidden; cursor:pointer; margin-right:4px; float:right;}
#cus_ser ul, ol{list-style:none;margin:0 0 9px 0;}

#exam pre{
    margin-top: 10px;
    border: none;
}

.km-c{
    text-align:center;vertical-align:middle !important;
}
.km-c h4{font-size:16px;color:#313131;font-weight:bold;}
.km-c .ex-opt {
    padding-top: 20px;
}
.course_info {
    font-size: 14px;
    color: #707070;
    line-height: 20px;
}
.course_list {
    width: 1190px;
    margin-top: 31px;
    min-height: 300px;
}
.img_div {
    height: 183px;
    overflow: hidden;
}


.course_list_small {
    float: left;
    width: 350px;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 10px 45px 0;
    transition: all 0.5s;
}
a {
    text-decoration: none;
}
.img_div {
    height: 183px;
    overflow: hidden;
}
.video-name-status .video-name {
    display: inline-block;
}

.video-name-ywj {
    max-width: 260px;
}
.video-name {
    font-size: 14px;
    color: #181818;
    margin-left: 15px;
    line-height: 20px;
    margin-top: 20px;
    font-weight: normal;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.course_list_small p {
    margin-left: 15px;
    color: #999;
    font-size: 12px;
    margin-top: 2px;
}

#best_price {
    font-size: 28px;
    color: #e01222;
    line-height: 1;
}

#price {
    font-size: 14px;
    color: #666;;
}
.course-content{
    background: #f5f5f5;
}
#teacher{
    margin-top: 20px;
    margin-bottom: 30px;
}
#teacher p, .lead p{
    line-height: 24px;
    font-size: 14px;
    text-indent: 2em;
    margin-top: 10px;
}
#teacher .panel-body {
    border-bottom: 1px dashed #C8C8C8;
    padding: 50px 10px;
}
.icp{
    padding-left: 30px;
    color: #9a9a9a;
}
.icp a{
    color: #9a9a9a;
    font-size: 13px;
}