.boss-countdown div span:last-child,
.boss-scroll-down a,
.boss-cta-area .boss-button a,
#scrollUp,
.boss-subscribe-area .boss-form input {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}
